<form method="POST" class="form">
    ${!!is_logged_in ? `  
        <div class="control is-horizontal">
            <label class="label">
                Name:
                <input type="text" name="name"/>
            </label>
        </div>
        <div class="control">
            <label class="label">
                Tagline (Limit 280 Characters):
                <input type="text" name="description"/>
            </label>
        </div>
        <div class="control">
            <label class="label">
                GitHub Repo:
                <input type="text" name="github_repo" placeholder="https://github.com/yourUser/yourRepo"/>
            </label>
        </div>
        <div class="control">
            <label class="label">
                Url:
                <input type="text" name="url" placeholder="www.yourProject.com"/>
            </label>
        <label class="label">Cohort:
            <div class="select" >
                <select name="cohort_id">
                    ${allCohorts.map(cohort => `<option value = "${cohort.cohort_id}">${cohort.cohort_name}</option>`).join('')}
                </select>
            </div>
        </label>
        <div class="control">
            <label class="label">
                Tags:
                <input type="text" name="tags" placeholder="#javascript #node #express #react"/>
            </label>
        </div>
        <button class="button" type="submit">Save Project</button>
    ` : `
        <div>Warning: Unauthorized</div>
    `}
</form>