<form method="POST" class="form">
    <div class="field">
        <label class="label">
            Name:
            <input class="input" type="text" name="name" value="${oneProject.project_name}"/>
        </label>
    </div>
    <div class="field">
        <label class="label">
            Short Description (Limit 280 Characters):
            <input class="input" type="text" name="description" value="${oneProject.project_description}"/>
        </label>
    </div>
    <div class="field">
        <label class="label"> 
            GitHub Repo:
            <input class="input" type="text" name="github_repo" value="${oneProject.github_repo}" />
        </label>
    </div>
    <div class="field">
        <label class="label">
            Url:
            <input class="input" type="text" name="url" value="${oneProject.project_url}"/>
        </label>
    </div>

    <label class="label"> Team members
        <br>
        <div class="select">
            <select name="user_1">
                <option value="null">Team Member 1</option>
            </select>
        </div>
        <div class="select">
            <select name="user_2">
                <option value="null">Team Member 2</option>
            </select>
        </div>
        <div class="select">
            <select name="user_3">
                <option value="null">Team Member 3</option>
            </select>
        </div>
    </label>
    <div class="field">
        <label class="label">
            Tags:
            <input class="input" type="text" name="tags" value=""/>
        </label>
    </div>
    <button class="button" type="submit">Save Project</button>
</form>
<hr>




<!-- 
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Tagline</td>
            <td>GitHub Repo</td>
            <td>URL</td>
            <td>Group Members</td>
        </tr>
    </thead>
    <form method="POST" class="form">  
        <tr>
            <td>
                <input type="text" name="name" value="${oneProject.project_name}"/>
            </td>
            <td>
                <input type="text" name="description" value="${oneProject.project_description}"/>
            </td>
            <td>
                <input type="text" name="github_repo" value="${oneProject.github_repo}"/>
            </td>
            <td>
                <input type="text" name="url" value="${oneProject.project_url}"/>
            </td>
            <td>Group Members Go Here</td>
        </tr>
        <button class="button" type="submit">Save Project</button>
    </form>
</table> -->